* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#contenedor {
    max-width: 1250px;
    margin: auto;
}
#cabecera {
    display: flex;
    flex-direction: row;
    height: 100px;
}
.logo {
padding: 10px;
margin-bottom: 10px;
}
.navegacion {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.centered-elements {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
}
.navegacion li{
    display: inline;
    text-align: center;
    margin: 0 50px 0 0;
    padding: 10px 0;
    flex-grow: 1;
}
.navegacion li a {
    padding: auto;
    color: #000;
    text-decoration: none;
    text-align: center;
}
.efecto1 {
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 20px;
    opacity: 0.7;
}
.efecto1:hover {
    transform: scale(1.1);
    color: #520303;
    font-size: 1.4em; 
    font-weight: bold; 
}
@media screen and (max-width: 768px) {
    .navegacion {
        flex-wrap: wrap; 
    }
    .navegacion li {
        margin: 10px 0; 
    }
}
#contenido {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.texto {
    color: #000;
    font-weight: bold;
}
.contenedor > div {
    background-color: #f0f0f0;
    padding: 20px;
    width: 100%;
    margin: 0;
}
.menu2 {
    display: flex;
    height: 75px;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.menu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu2 li {
    display: inline;
}

.menu2 li a {
    color: #000;
    text-decoration: none;
    margin: 0 40px 0 0;
    padding: 10px 0;
    opacity: 0.7;
    font-size: 20px;
}
.menu2 li a:hover {
    font-size: 1.3em; 
    font-weight: bold; 
    color: #520303;
}
.seccion {
    text-align: center;
    background-image: url(../img/fondo1.png);
    justify-content: center;
    border-radius: 15px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.seccion2 {
    text-align: center;
    background-image: url(../img/fondo2.png);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 80px;
    color: red;
    font-size: 20px;
    border-radius: 10px; 
    border: 0px solid rgba(0, 0, 0, 0.5);
    font-family: Chakra Petch;
}
.aqui {
    background-color:  rgb(172, 9, 9);
    color: white;
    border-radius: 30px; 
    padding: 15px 30px;
    justify-content: center;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.aqui:hover {
    transform: scale(1.2); 
    font-size: 23px; 
}
.sesion  {
    padding: 9px 25px;
    border: 2px solid #000; 
    text-decoration: none;
    text-align: center;
    border-radius: 30px; 
    font-size: 18px;
    color: #000;
    cursor: pointer;
}
.sesion:hover {
    font-size: 16px;
}
.registrarse {
    background-image: url(../img/fondo1.png);
    color: #fff;
    border-radius: 30px; 
    padding: 9px 30px;
    font-size: 18px;
}
.registrarse:hover {
    font-size: 16px;
}
hr {
    opacity: 0.3; 
    border: none; 
    border-top: 2px solid #000; 
}
#pie {
    background-image: url(../img/fondo1.png);
    height: 200px;
}
.redes {
    filter: brightness(0.1); 
}
.img1png {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: perspective(1000px) rotateY(10deg);
    opacity: 1;
}
.img3 {
    text-align:right;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}